/.vscode
/crash-reports
/data
/fancymenu_data
/fancymenu_resources
/journeymap
/ldlib
/local
/logs
/modernfix
/mods
/natives-windows-x86_64
/patchouli_books
/resourcepacks
/saves
/schematics
/screenshots
/shaderpacks
/simplebackups
/trees
/emi.json
/GTHR.jar
/GTHR.json
/hmclversion.cfg
/log4j2.xml
/options.txt
/packwiz-installer-bootstrap.jar
/packwiz-installer.jar
/packwiz.exe
/packwiz.json
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/tlm_custom_pack
/*.backup*
/.mixin.out
/config/paxi/datapacks/music-and-melody-1.20-v1.3.2
/config/paxi/datapacks/music-and-melody-1.20-v1.3.2.zip
